        
 * {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    color: #08011b;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.contador-container {
    margin-bottom: 15px;
}

.contador {
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0%;
    transition: width 0.3s ease;
}

.task-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.task-list li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.task-list li span {
  flex: 1; /* ocupa espaço para empurrar os botões */
}

.task-list li button {
    margin-left: auto; /* empurra o botão para a direita */
}

li.completed {
    background-color: #d9f3d9; /* verde claro */
}

li.inaplicavel {
    background-color: #f3c8c8; 
    text-decoration: line-through;
    opacity: 0.6;
}

/* Inputs */
input[type="text"],
input[type="date"],
input.text-event,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}
input[type="text"] { max-width: 3000px; }
input.text-event { max-width: 120px; }
input[type="date"] { max-width: 150px; }

.add-task {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 495px;
}

.cabecalho {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Botões */
button {
    background: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
    transition: all 0.3s ease;
    font-size: 16px;
    max-width: 120px;
}
button:hover {
    background: #4CAF50;
    color: white;
}

.btn-excluir, .btn-editar {
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    max-width: 80px;
}
.btn-excluir { color: #f44336; }
.btn-excluir:hover { background-color: #f44336; color: white; }
.btn-editar { color: #0f037a; }
.btn-editar:hover { background-color: #0f037a; color: white; }
.btn-carregar { color: #e0c421; border: 2px solid #e0c421; }
.btn-carregar:hover { background-color:  #e0c421; color: white; }
.btn-salvar {color: #32CD32; border: 2px solid  #32CD32; }
.btn-salvar:hover { background-color: #32CD32; color: white; }
.btn-exportar {color: #FF8C00; border: 2px solid #FF8C00; }
.btn-exportar:hover { background-color: #FF8C00; color: white; }
.btn-importar {color: #1E90FF; border: 2px solid #1E90FF; }
.btn-importar:hover { background-color: #1E90FF; color: white; }
