        
 * {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    color: #08011b;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.contador-container {
    margin-bottom: 15px;
}

.contador {
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0%;
    transition: width 0.3s ease;
}

.task-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.task-list li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

li.completed {
    background-color: #d9f3d9; /* verde claro */
}


input[type="text"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="date"], select {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.add-task {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

button {
    background: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 100px;
}

button:hover {
    background: #4CAF50;
    color: white;
}

img {
    width: 100%;
    height: auto;
    }

.btn-excluir {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    }
     
.btn-excluir:hover {
    background-color: #d32f2f;
    }
